# Logs and execution-related files
.nf*
.nextflow*

# Nextflow work directory (contains temporary files)
work.nosync/
work/

later/

# Ignore BAM and large VCF files
*.bam
*.bam.bai
*.vcf
*.fastq.gz
!raw_data/test_R1_001.fastq.gz
!raw_data/test_R2_001.fastq.gz

# Output directories (customize based on your pipeline configuration)
merging/
archive/
data/
results/
results_new/
results.nosync/
output/

#index files
humans.fa
humans.fa.sa
humans.fa.amb
humans.fa.ann
humans.fa.bwt
humans.fa.fai
humans.fa.pac

humans_modified.fa
humans_modified.fa.sa
humans_modified.fa.amb
humans_modified.fa.ann
humans_modified.fa.bwt
humans_modified.fa.fai
humans_modified.fa.pac

humans_modified_deleted_AS_PH_0430.fa
humans_modified_deleted_AS_PH_0430.fa.sa
humans_modified_deleted_AS_PH_0430.fa.amb
humans_modified_deleted_AS_PH_0430.fa.ann
humans_modified_deleted_AS_PH_0430.fa.bwt
humans_modified_deleted_AS_PH_0430.fa.fai
humans_modified_deleted_AS_PH_0430.fa.pac

# Cache files
.cache/
*.cache

# Hidden system files
.DS_Store
Thumbs.db

# Python virtual environments (if used in the pipeline)
.venv/
__pycache__/
*.pyc
*.pyo

# Conda environments
*.conda
envs/

# Docker and Singularity
*.img
*.sif
.docker/

# Credentials or sensitive files (adjust if necessary)
*.key
*.pem
*.credentials

# IDE and editor files
.vscode/
.idea/
*.swp

# Temporary files and backup files
*.bak
*.tmp
*~

# Ignore large data files (if applicable)
data/

merging/scripts/bwa
merging/scripts/prosynar
