process {
    executor = 'local'
}

profiles {
    local {
        docker.enabled = false  // Do not use Docker
    }

    docker {
        process.container = 'peterresutik/nimagen-pipeline:latest'
        docker.enabled = true   // Enable Docker only for this profile
    }
}

workDir = 'work'  // Directory for intermediate files
