process {
    executor = 'local'
}

profiles {
    local {
        docker.enabled = false
    }

    docker {
        process.container = 'peterresutik/nimagen-pipeline:latest'
        docker.enabled = true
        singularity.enabled = false
    }
}

workDir = 'work'  // Directory for intermediate files
